<div class="slice text">
  <h3 id="what-we-teach">Czego uczymy?</h3>

</div>

<div class="slice text panel">
  <img alt="Sample1" height="150" src="/img/about/sample1.png" width="108" align="right" />
  <h3 id="term-one-scratch">Semestr pierwszy: Scratch</h3>

  <p>W tym semestrze zaczniecie od pozania Scratcha i przejdziecie przez zajęcia podzielone na trzy poziomy trudności.
    Projekty, które dzieci będą wykonywać to tworzenie gier, animacji i zabawek. Zawierają podstawowe ćwiczenia, ale
    także wyzwania dla tych, którzy szybciej się uczą.</p>

  <!--<p><a href="http://codeclub-assets.s3.amazonaws.com/public/codeclub-whackawitch.pdf">Download a sample of term one</a></p>-->
</div>

<div class="slice text panel">
  <img alt="Sample2" height="150" src="/img/about/sample2.png" width="108" align="right" />
  <h3 id="term-two-scratch-advanced">Semestr drugi: Scratch dla zaawansowanych</h3>

  <p>Na drugim semestrze dzieci poszerzają swoje umiejętności korzystając z tego, czego nauczyli się na pierwszym
    semestrze. Tym razem projekty zostały zaprojektowane w taki sposób, aby zostawić duże pole działania. Zachęcają
    dzieci i wymagają od nich wytężonego myślenia i kreatywności.</p>

  <!--<p><a href="https://www.codeclub.org.uk/projects" class="button round primary">Download a sample of term two</a></p>-->
</div>

<div class="slice text panel">
  <img alt="Sample3" height="150" src="/img/about/sample3.png" width="108" align="right" />
  <h3 id="term-three-html-and-css">Semestr trzeci: HTML i CSS</h3>

  <p>W tym semestrze dzieci dowiedzą się jak działają klocki, z których zbudawany jest Internet. Będą też tworzyć swoją
    własną stronę.</p>
  <br>

  <!-- <p><a href="https://www.codeclub.org.uk/projects" class="button round primary">Download a sample of term three</a></p> -->
</div>

<div class="slice text panel">
  <img alt="Sample4" height="150" src="/img/about/sample4.png" width="108" align="right" />
  <h3 id="term-four-python">Semestr czwarty: Python</h3>

  <p>W tym semestrze zapoznamy dzieci z prawdziwym programowaniem. Uczymy podstaw programowania poprzez zabawę z złówiami,
    fraktalami i szyframi!</p>
  <br>
  <!-- <p><a href="https://www.codeclub.org.uk/projects" class="button round primary">Download a sample of term four</a></p> -->

</div>