---
layout: default
title: Załóż klub
---

<section class="row content" role="main">
<div class="twelve columns">
  <div class="slice introduction text">
    <h1 id="volunteering-for-code-club">Wolontariat w Code Club</h1>

    {% include start_a_club_intro.html %}
  </div>
  <hr>

</div>

<div class="eight columns">

<div class="row slice video">
  <div class="columns ten">
    <div class="flex-video widescreen">
      <iframe
          width="640" height="360"
          src="https://www.youtube.com/embed/ACYsz7sZvH8"
          frameborder="0"
          allowfullscreen name="slice-5280fbf29d200f3d3300019b"></iframe>
    </div>
  </div>
</div>

<div class="slice text">
  <p>Jak to jest być wolontariuszem w Code Club? Wolontariusze z Code Club w Wielkiej Brytani wszystko opowiedzą!</p>
</div>

<hr>

<div class="slice text">
  <h3 id="your-role-as-a-volunteer">Rola wolontariusza</h3>

  <p>Wolontariat w klubach kodowania polega na przybyciu raz w tygodniu do miejscowej szkoły podstawowej lub innego
    miejsca w celu przeprowadzenia godzinnych zajęć klubowych. Wielu wolontariuszy prowadzi kluby wspólnie z kolegami
    lub przyjaciółmi - pomagają sobie wtedy na wzajem lub prowadzą zajęcia na zmianę.</p>

  <p>Jako prowadzący zajęcia w ramach Code Club masz dostęp do <a
      href="http://projects.codeclubworld.org/pl-PL/index.html">naszych projektów</a>, które posłużą ci jako materiały
    do pracy z dziećmi w szkole. W projektach używamy <a href="http://scratch.mit.edu/scratch2download/">Scratcha</a>
    przez pierwsze dwa semestry, aby nauczyć dzieci podstawowych elementów programowania. Następnie przechodzimy do
    języków HTML i CSS oraz Python.</p>

  <p>Code Club został tak zaprojektowany, aby przez zabawę pobudzać kreatywność. Pamiętaj, że jako wolontariusz będziesz
    wzorem dla potencjalnych małych programistów - pokaż im swój entuzjazm i to jak bardzo lubisz programować!</p>

  <p><strong>Wybór miejsca</strong></p>

  <p>Klub kodowania możesz założyć praktycznie gdzie tylko chcesz pod warunkiem, że jest to miejsce bezpieczne, jest
    wyposażone w sprzęt komputerowy i będzie z tobą osoba odpowiedzialna za to miejsce (np. nauczyciel), która może
    poświęcić, tak jak ty, godzinę tygodniowo na zajęcia. Szkoły podstawowe są najlepszym miejscem ze względu na fakt,
    że są już odpowiednio wyposażone. Jednak zajęcia mogą równie dobrze odbywać się w bibliotekach, świetlicach czy
    ośrodkach kultury.</p>


</div>

<div class="slice images row">
  <figure class="four columns">
    <img alt="Img_5085" src="../../img/club-advice/1.jpg">
    <figcaption></figcaption>
  </figure>
  <figure class="four columns">
    <img alt="Img_5066" src="../../img/club-advice/5.jpg">
    <figcaption></figcaption>
  </figure>
  <figure class="four columns">
    <img alt="Img_5081" src="../../img/club-advice/2.jpg">
    <figcaption></figcaption>
  </figure>
</div>

<hr>

<div class="slice text">
  <h3 id="know-what-youre-signing-up-for">Zobacz na co się piszesz</h3>

  <p><strong>Aby być wolontariuszem Code Club musisz posiadać odpowiednią wiedzę z zakresu programowania.</strong> Na
    pierwszym semestrze używamy Scratcha, ale niedługo potem przechodzimy do bardziej zaawansowanych języków takich jak
    Python.</p>

  <p>Wolontariat w Code Club będzie najlepszą rzeczą, jakiej podejmiesz się w tym roku. Gwarantujemy. Są jednak pewne
    rzeczy, których powinieneś być świadom zanim podejmiesz ostateczną decyzję.</p>

  <ul>
    <li>Każde zajęcia trwają godzinę i odbywają sie raz w tygodniu.</li>
    <li>Osoba odpowiedzialna za miejsce, w którym organizowany jest klub kodowania musi być na każdych zajęciach.</li>
    <li>Będziesz musiał wydrukować i zszyć materiały dla każdego dziecka, albo pary dzieci. Będziesz musiał zatem
      poświęcić nieco czasu na przygotowanie. Niestety nie możemy pokryć wydatków z tym związanych.
    </li>
    <li>Dolicz też czas potrzebny na dotarcie do miejsca zajęć.</li>
    <li>W żadnym wypadku nie możesz pobierać opłat za prowadzenie klubu kodowania. Code Club jest bezpłatny dla
      każdego. Takie są zasady.
    </li>
  </ul>

</div>

<hr>

{% include what_we_teach.html %}

<div class="slice text">
  <h3>
    <a name="jak-znalezc-miejsce" class="anchor" href="#jak-znalezc-miejsce"></a>
    Jak znaleźć miejsce?
  </h3>

  <p>Jeśli chcesz być ochotnikiem i uruchomić Klub Kodowania, niezbędne będzie znalezienie odpowiedniego do tego
    miejsca.
    Musisz znaleźć takie miejsce, w którym będzie dostępna odpowiednia liczba komputerów z dostępem do Internetu.</p>

  <p>Dobrym miejscem mogą być szkoły podstawowe, gdzie uczniowie mogą uczyć się, dorastać i rozwijać razem ze swoimi
    koleżankami i kolegami. Biblioteki czy publiczne świetlice mogą być dobrym rozwiązaniem, jeśli chcesz prowadzić klub
    w godzinach pozaszkolnych lub w weekendy.</p>

  <p>Ważne jest by kontaktować się bezpośrednio z osobą zarządzającą danym miejscem (np. dyrektorem szkoły) i starać się
    spotkać z nią, by porozmawiać w cztery oczy. Weź ze sobą wszelkie potrzebne materiały i wytłumacz czym jest Klub
    Kodowania. Następnie możesz zaproponować konkretny dzień i godzinę, kiedy będą odbywały się zajęcia w klubie. Na
    koniec zarejestruj swój klub na tej stronie i pobierz materiały z Githuba.</p>
</div>

<hr>

<div class="slice text">
  <h3>
    <a name="prowadzenie-klubu" class="anchor" href="#prowadzenie-klubu"></a>
    Prowadzenie klubu
  </h3>

  <p><strong>Porady dotyczące prowadzenia klubu</strong></p>
  <ul>
    <li>Każde spotkanie w Klubie Kodowania trwa godzinę i odbywa się raz w tygodniu.</li>
    <li>Potrzebne będą wydrukowane i zszyte instrukcje do projektów dla każdego dziecka lub pary dzieci.</li>
    <li>Przećwicz projekt przed wykonaniem go na zajęciach - łatwiej ci będzie odpowiadać na pytania dzieci.</li>
    <li>Weź pod uwagę czas dojazdu.</li>
    <li>Pod żadnym pozorem nie wolno ci pobierać opłat za zajęcia. Code Club jest darmowy dla wszystkich.</li>
  </ul>

  <p><strong>Tworzenie środowiska sprzyjającego nauce</strong></p>

  <p>Jeśli nie robiłeś/aś tego wcześniej, praca z dziećmi może wydawać się zniechęcająca. Bez obaw! Podążaj za tymi
    prostymi radami, a nauczysz się prowadzić wspaniały klub w mgnieniu oka.</p>

  <p><strong>Wprowadź zasady</strong></p>

  <p>Aby prowadzić świetny Klub Kodowania należy pamiętać o wprowadzeniu zasad i ścisłym trzymaniu się ich. Będzie ci
    prościej przekazywać wiedzę, a dzieciom uczyć się, jeśli będą one wiedzieć co mają robić i czego się spodziewać.
    Zanim poprowadzisz pierwsze zajęcia zastanów się więc nad kilkoma kwestiami:</p>

  <ul>
    <li>Co mają zrobić dzieci kiedy wejdą do sali po raz pierwszy?</li>
    <li>Powinny usiąść i w ciszy czekać na pozostałe dzieci i dalsze polecenia? Czy powinny włączyć komputery i od razu
      zacząć pracę?
    </li>
    <li>Co powinno zrobić dziecko, które utknie na jednym z zadań?</li>
    <li>Czy powinno podnieść rękę i poczekać aż podejdziesz?</li>
    <li>Czy nie będzie to kłopotliwe, kiedy cię zawoła przez całą salę?</li>
    <li>Zdecyduj co chciałbyś/chciałabyś, aby robiły i jasno wytłumacz to na początku każdych zajęć.</li>
    <li>Jak zdobędziesz uwagę całej grupy?</li>
    <li>W większości szkół już jest stosowana jedna z form (np. podnoszenie ręki, odliczanie od 5, klaskanie). Zapytaj
      nauczyciela w twojej szkole i użyj tej samej formy lub wymyśl własną!
    </li>
  </ul>

  <p>Daj znać dzieciom, kiedy minie połowa zajęć i ponownie na pięć minut przed końcem. W ten sposób będą wiedziały ile
    czasu zostało im do skończenia projektu.</p>

  <p>Dobrym pomysłem może być zakończenie pracy pięć lub dziesięć minut przed końcem, aby z powrotem zebrać uwagę całej
    grupy. Możesz poprosić dzieci, by zapisały swoje projekty i wyłączyły komputery, a następnie porozmawiać z nimi o
    tym, czego się dzisiaj nauczyły. Co było dla nich najzabawniejsze? Proste? Trudne? Jak rozwiązały problemy, na które
    natrafiły? Jest to też dobry czas by podziękować im za ich ciężką pracę i być może wspomnieć o kilku z nich, którzy
    według ciebie pracowali wyjątkowo pieczołowicie.</p>

  <p><strong>Dobra atmosfera</strong></p>

  <p>Dzieci najlepiej uczą się w spokojnej i pozytywnej atmosferze, gdzie ich wysiłki są zauważane i doceniane. Oto
    kilka
    wskazówek, które pomogą ci w zbudowaniu takiej atmosfery w klubie:</p>

  <ul>
    <li>Do dzieci zawsze zwracaj się uprzejmie spokojnym tonem, ale nie pozbawionym entuzjazmu.</li>
    <li>Nie krytykuj ich ani nie podnoś głosu.</li>
    <li>Zachowuj się w taki sposób, jakiego oczekujesz od nich. Zarażaj dzieci pozytywnym nastawieniem!</li>
    <li>Niektóre szkoły mają swój system nagród. Sprawdź, czy możesz użyć systemu ze szkoły, w której prowadzisz klub.
      Jeśli tak - nagradzaj dzieci za ich wysiłek i dobre zachowanie kiedy uznasz to za stosowne.
    </li>
    <li>Staraj się skupić raczej na dobrym niż złym zachowaniu. Często chwal dzieci (na głos!), które robią to co
      trzeba. Jeżeli któreś z dzieci nie robi tego, czego od niego oczekujesz, wtedy cicho przypomnij mu co powinno
      robić. W sali zawsze powinien być lokalny nauczyciel, by pomóc ci poradzić sobie z dziećmi, które przeszkadzają
      w zajęciach.
    </li>
    <li>Zapytaj nauczyciela, czy certyfikaty z Klubu Kodowania mogą zostać rozdane podczas uroczystego apelu. Dzięki
      temu osiągnięcia dzieci z klubu zostaną przedstawione całej społeczności szkolnej.
    </li>
  </ul>

  <p><strong>Indywidualizacja nauczania</strong></p>

  <p>Indywidualizacja nauczania polega na przystosowaniu lekcji w taki sposób, by odpowiadały różnym potrzebom dzieci w
    grupie. Wykonując poniższe zalecenia sprawisz, że wszystkie dzieci będą uczyć się w Klubie Kodowania z równym
    zadowoleniem.</p>

  <p>Zapytaj nauczyciela, czy w grupie są jakieś dzieci ze specjalnymi potrzebami edukacyjnymi. Dowiedz się, co możesz
    zrobić by pomóc im w czasie zajęć.</p>

  <p>Dowiedz się też, czy są w grupie dzieci, dla których język polski jest językiem dodatkowym. Wykonywanie poleceń
    zapisanych w materiałach w języku polskim może wymagać poświęcenia im dodatkowej uwagi i czasu. Możesz rozważyć
    sadzanie takich dzieci w parze z dziećmi, którym czytanie w języku polskim nie sprawia problemu.</p>

  <p>Pamiętaj, że dzieci posiadają rozmaite umiejętności i uczą się w różnym tempie. Zachowaj cierpliwość i daj im czas
    na
    rozwiązanie problemów na swój sposób. Jeżeli w grupie znajdzie się dziecko, które często ma problemy z wykonywanymi
    zadaniami, może warto usadzić je na jakiś czas w parze z innym dzieckiem, które lepiej daje sobie radę.</p>

  <p>Większośc projektów kończy się "Wyzwaniami". Są idealne dla bardziej uzdolnionych dzieci, niemniej jednak wszystkie
    dzieci powinny być zachęcane do podjęcia tych wyzwań kiedy tylko skończą pracę nad głównymi zadaniami.</p>
</div>

</div>
<div class="four columns pad-left">
  <div class="slice images row">
    <figure class="twelve columns">
      <img alt="Volunteer" src="../../img/start-a-club/volunteer.png">
      <figcaption></figcaption>
    </figure>
  </div>

  <div class="slice text">
    <h3 id="what-to-expect">Czego się spodziewać</h3>

    <p>Większość dzieci w klubie nie miało do czynienia nigdy wcześniej z programowaniem, więc prawdopodobnie będziesz
      musiał wyjaśnić im ogólną ideę kodowania zanim ruszysz z projektami.</p>

    <p>Możliwe też, że system informatyczny w szkole nie będzie taki, jakiego się spodziewasz. Będziesz musiał np.
      zainstalować Scratcha. Więcej informacji znajdziesz w materiałach dydaktycznych.</p>

    <p>Dzieci w klubie będą pracować w różnym tempie, co jest normalne. Przejdź z tym do porządku dziennego i pomóż
      każdemu dziecku pracować w jego włanym tempie.</p>

  </div>

  <div class="slice text">
    <h3 id="useful-links">Przydatne linki</h3>

    <p><a href="https://s3.amazonaws.com/codeclub-assets/public/Code+Club+Terms+of+Service+v8.1.pdf">Oficjalny regulamin
      Code Club</a></p>

  </div>

  <hr>

  <div class="slice text">
    <h3 id="volunteer-experiences">Doświadczenia wolontariuszy</h3>

    <p>Wielu wolontariuszy, głównie z Wielkiej Brytanii (kraju, skąd pochodzi Code Club), prowadzi blogi na temat
      swoich doświadczeń w prowadzeniu klubów kodowania. Aby przygotować się na nadchodzące wyzwanie możesz zajrzeć do
      paru z nich:</p>

    <p><a href="https://plus.google.com/116086712514085162080/posts/aNRbuCx3YqM">Neil Smith z Bradwell Village
      School</a></p>

    <p><a href="http://katiepiatt.blogspot.co.uk/2013/01/adventures-in-code-club.html">Katie Piatt ze Swiss Gardens
      Primary School</a></p>

    <p><a href="http://www.whiteoctober.co.uk/blog/2013/01/16/code-club-teaching-kids-programming/">John Ward –
      wolontariusz Code Club</a></p>

    <p><a href="https://groups.google.com/forum/?fromgroups=#!topic/southeastenglandcodeclub/B-1If5vMjgw">Paul Cardno –
      wolontariusz Code Club</a></p>

    <p><a href="http://winkleink.blogspot.co.uk/2013/01/2nd-code-club-lesson-experience-and.html">Winkleink –
      wolontariusz Code Club</a></p>

  </div>

</div>
</section>
